* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6e6e6;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: bold;
  
}
.titlee{
    background-color: #aaa83f;
    width: 100%;
margin-bottom: 70px;
padding-top: 30px;
}

.buttons {
  display: flex;
  gap: 30px;
}

button {
  background: #3faa47;
  color: white;

  border: none;
  padding: 20px 50px;

  font-size: 24px;
  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}